<h1>Welcome to Burger Logger!</h1>

{{!-- <h2>Burgers that are not devoured!</h2> --}}

{{!-- <ul>
  {{#each burgers}}
  {{#unless devoured}}
<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}TIME TO EAT!{{else}}NO MORE FOOD LEFT!{{/if}}
	</button>
</li>

  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burgers-block devoured=false}}
  {{/if}}
  {{/each}}
</ul> --}}

<h2>Add a Burger of your choice</h2>
<form id="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burgers_name">
  </div>

  {{!-- <div class="form-group">
    <input type="radio" name="Hungry" value="1" id="Hungry" checked> Hungry!<br>
    <input type="radio" name="Hungry" value="0" id="Not Hungry"> Hungry
  </div> --}}

  <button type="submit">Add Burger</button>
</form>